
.search-form{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-form input{
  /* justify-content: center;
  align-items: center; */
  padding: 7px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery{
  padding: 60px 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 1200px;
  margin: 0 auto;
}

.photo-card{
  width: calc((100% - 60px) / 3);
  display: block;
  height: 400px;
}

.images{
  max-width: 100%;
}

.info{
  display: flex;
  justify-content: space-between;
}

.pagin{
  display: flex;
  margin: 0 auto;
  gap: 30px;
  justify-content: center;
}
